<template>
  <main>
    <UserProfileItems />
  </main>
</template>

<script setup>
import UserProfileItems from '@/components/UserProfileItems.vue';
</script>

<style lang="scss">
@import 'assets/main';

body {
  background: $template-bg-color;
  padding: 30px 0;

  main {
    max-width: 1024px;
    margin: auto;
  }
}
</style>
