<template>
  <article class="user-profile-card">
    <img class="user-profile-card--image" :src="imgSrc" alt="" />
    <div class="user-profile-card--title">{{ profile.name }}</div>
    <UiButton class="user-profile-card--button"> {{ email }} </UiButton>
  </article>
</template>

<script setup>
import { computed } from 'vue';
import { UiButton } from '@/components/ui';

const props = defineProps({
  /**
   * Data of one profile with info
   * @type {{
   *   picture: String,
   *   email: String,
   *   name: String
   * }}
   * */
  profile: {
    type: Object,
    required: true,
  },
});

/**
 * @type {ComputedRef<String>}
 * */
const imgSrc = computed(() => props.profile.picture);
/**
 * @type {ComputedRef<String>}
 * */
const email = computed(() => props.profile.email);
</script>

<style lang="scss">
@import 'assets/main.scss';

.user-profile-card {
  border-radius: 18px;
  background: $color-white;
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--image {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    border: 2px solid $secondary-color;
    margin-bottom: 24px;
  }

  &--title {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.5em;
  }

  &--button {
    margin-top: auto;
  }
}
</style>
