<template>
  <div class="user-profile-items">
    <UserProfileCard
      v-for="(profile, index) in profiles"
      :key="index"
      :profile="profile"
    />

    <UiObserver @intersect="onLoadMore" />
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { ProfileService } from '@/service';
import UserProfileCard from '@/components/UserProfileCard.vue';
import { UiObserver } from '@/components/ui';

const profiles = ref([]);
const page = ref(0);

const onLoadMore = async () => {
  const pageToLoad = page.value + 1;
  const { results } = await ProfileService.fetchProfiles(pageToLoad);

  page.value = pageToLoad;
  profiles.value = [...profiles.value, ...results];
};
</script>

<style lang="scss">
.user-profile-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
</style>
