<template>
  <button :class="['ui-button', props.type]" @click="emit('click')">
    <slot></slot>
  </button>
</template>

<script setup>
const emit = defineEmits(['click']);
const props = defineProps({
  type: {
    type: String,
    default: 'primary',
    validator(value) {
      return ['primary', 'secondary', 'disabled'].includes(value);
    },
  },
});
</script>

<style lang="scss">
@import 'assets/main.scss';

.ui-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 6px 18px;
  border-radius: 10px;

  &.primary {
    background: $color-violet;
    color: $color-white;
  }
}
</style>
